
<body style="margin:0; font-family:Arial, sans-serif;">
<header style="background-color:#0077b6; color:white; display:flex; justify-content:center; align-items:center; padding:15px 0;">
   <a href = "/homepage" 
     style="color:white; text-decoration:none; margin:0 20px; font-weight:bold;">homepage</a>
   <a href = "/homelist" 
     style="color:white; text-decoration:none; margin:0 20px; font-weight:bold;">homelist</a>
   <a href = "/favourite"  
   style="color:white; text-decoration:none; margin:0 20px; font-weight:bold;">favourite</a>
   <a><div class="card-actions">
   <a href = "/booking"  
   style="color:white; text-decoration:none; margin:0 20px; font-weight:bold;"> my Bookings</a>
   <a href = "/hosthomes"  
   style="color:white; text-decoration:none; margin:0 20px; font-weight:bold;"> host homes</a>
  
</header>
