<%- include('PARTIALS/head.ejs') %>

<body>
  <%- include('PARTIALS/header.ejs') %>

  <div class="hello"> 
    <h1>Hello, freely book your room here</h1>
  </div>

  <form action="/form" method="post">
    <input type="text" name="name" placeholder="Enter your name" />
    <br />
    <input type="text" name="room" placeholder="Room type" />
    <br />
    <input type="text" name="price" placeholder="Booking price" />
    <br />
    <button type="submit">Submit</button>
  </form>
</body>
</html>
