<%- include('PARTIALS/head.ejs') %>

<body>
  <%- include('PARTIALS/header.ejs') %>

  <div class="hello"> 
    <h1>Hello, freely book your room here</h1>
  </div>

  <form action="/form" method="post">
    <input type="text" name="housename" placeholder="Enter housename" />
    <br />
    <input type="text" name="location" placeholder="Room location" />
    <br />
    <input type="number" name="price" placeholder="Booking price" />
    <br />
    <input type="text" name="imageUrl" placeholder="Image URL" />
    <br />  
    <button type="submit">Submit</button>
  </form>
</body>
</html>
