<div class="card-actions">
  <form action="/favourite" method="POST">
    <input type="hidden" name="id" value="<%= home.id %>"> 
    <button class="btn" type="submit">Add to Favourite</button>
  </form>
</div>
